# -----------------
# Go
# -----------------
# Binaries and executables
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go workspace stuff
bin/
server/tmp/*
server/data/
*.prof
*.log
*.coverprofile

# Dependency management
vendor/

# IDE/Editor related
.idea/
.vscode/*
!.vscode/settings.json
*.swp
skills-lock.json
.agents/

# -----------------
# Node/Svelte
# -----------------
# Node modules
node_modules/

# Build outputs
public/build/
dist/
build/
.svelte-kit/
.svelte/
*.tsbuildinfo

# SvelteKit specific
.env
.env.*.local

# Optional: lock file (if you use yarn or npm)
# yarn.lock
# package-lock.json

# -----------------
# OS/System Files
# -----------------
.DS_Store
Thumbs.db
*.tmp
*.bak
.make_timer


TODO.md